extends ../../../../code/TM_Jade/_layouts/page_logged_out
extends ../../../../code/TM_Jade/_layouts/page_logged_out
include ../../../../code/TM_Jade/_mixins/user-mixins
include ../../../../code/TM_Jade/_mixins/landing-page-mixins
block content
    .row
        .col-6
            form
                img(src='/logos/TP_LOGO.GIF')
                i  ....can login here...
            #loginwall
                +login-form
        .col-6
            +team-mentor-summary
    br
    +footer-div